<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Z-Fold-packing
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <i class="ri-home-8-line"></i>
            Z-FOLD SECTION
        </li>
        <li class="breadcrumb-item position-relative">
            Z-Fold-packing
        </li>
    </ol>
</div>

<!-- Z-Fold-packing Entry -->
<mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Z-Fold-packing Entry
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="zFoldPackingForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field class="mb-25">
                        <mat-label>Cardboard Size</mat-label>
                        <input matInput [formControl]="cardboardCtrl" [matAutocomplete]="autoCard">
                        <mat-autocomplete #autoCard="matAutocomplete">
                            <mat-option *ngFor="let option of cardboardFilteredOptions | async" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field class="mb-25">
                        <mat-label>Modal Size</mat-label>
                        <input matInput [formControl]="modalSizeCtrl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field class="mb-25">
                        <mat-label>Printed or Non Printed</mat-label>
                        <mat-select formControlName="printed">
                            <mat-option value="true">Printed</mat-option>
                            <mat-option value="false">Non Printed</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field class="mb-25">
                        <mat-label>No. of Packet</mat-label>
                        <input matInput type="text" placeholder="Ex. 50" formControlName="noOfPacket">
                    </mat-form-field>
                </div>

                <!-- Make Auto select Today date but also make it selectable -->
                <div class="col-sm-4">
                    <mat-form-field class="mb-25">
                        <mat-label>Date/Time</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                            formControlName="entryDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>


                <div class="col-sm-12 d-flex justify-content-end">
                    <button mat-flat-button class="daxa" type="submit">
                        {{ isEdit ? 'Update' : 'Submit' }}
                    </button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<!-- Z-Fold -->
<mat-card class="daxa-card to-do-list-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="false">
    <mat-card-header>
        <mat-card-title>

        </mat-card-title>
        <mat-card-subtitle>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search here..."
                    (keyup)="applyFilter($event)" #input>
            </form>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Task ID Column -->
                    <ng-container matColumnDef="cardBoardSize">
                        <th mat-header-cell *matHeaderCellDef>
                            Card Board Size
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.cardBoardSize}}
                        </td>
                    </ng-container>

                    <!-- Task Name Column -->
                    <ng-container matColumnDef="modalSize">
                        <th mat-header-cell *matHeaderCellDef>
                            Modal Size
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.modalSize}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="printed">
                        <th mat-header-cell *matHeaderCellDef>
                            Printed
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.printed}}
                        </td>
                    </ng-container>

                    <!-- Due Date Column -->
                    <ng-container matColumnDef="noOfPacket">
                        <th mat-header-cell *matHeaderCellDef>
                            No. Of Packet
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.noOfPacket}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="entryDate">
                        <th mat-header-cell *matHeaderCellDef>
                            Entry Date
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.entryDate | date}}
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <button type="button" mat-button matTooltip="Edit" matTooltipPosition="above"
                                    (click)="editData(element)">
                                    <i class="material-symbols-outlined">
                                        edit
                                    </i>
                                </button>
                                <button type="button" mat-button matTooltip="Delete" matTooltipPosition="above"
                                    (click)="deleteData(element._id)">
                                    <i class="material-symbols-outlined">
                                        delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>

                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>