<div class="sidebar-area bg-white active" [ngClass]="{'active': isSidebarToggled}">

    <!--    [class.component-dark-theme]="themeService.isDark()"-->
    <!--    [class.dark-sidebar]="themeService.isSidebarDark()"-->
    <!--    [class.right-sidebar]="themeService.isRightSidebar()"-->
    <!--    [class.hide-sidebar]="themeService.isHideSidebar()"-->
    <!--    [class.card-borderd-theme]="themeService.isCardBorder()"-->
    <!--    [class.rtl-enabled]="themeService.isRTLEnabled()"-->

    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo-icon.svg" alt="logo-icon">
            <!-- <span class="fw-semibold">Daxa</span> -->
        </a>
    </div>
    <div (click)="toggle()" class="burger-menu" [ngClass]="{'active': isSidebarToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <div *ngIf="isAdminLogin">


                        <span class="sub-title text-body">
                            MAIN
                        </span>
                        <a routerLink="/crm" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                dashboard
                            </i>
                            <span class="title">
                                Dashboard
                            </span>
                        </a>

                        <span class="sub-title text-body">
                            ADMIN APP
                        </span>
                        <a routerLink="/raw-paper" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                ballot
                            </i>
                            <span class="title">
                                Raw Paper
                            </span>
                        </a>
                        <a routerLink="/raw-core" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                ballot
                            </i>
                            <span class="title">
                                Raw Core
                            </span>
                        </a>
                        <a routerLink="/raw-ink" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                ballot
                            </i>
                            <span class="title">
                                Raw Ink
                            </span>
                        </a>
                        <a routerLink="/raw-label" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                ballot
                            </i>
                            <span class="title">
                                Raw Label
                            </span>
                        </a>
                        <a routerLink="/raw-box" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                ballot
                            </i>
                            <span class="title">
                                Raw Box
                            </span>
                        </a>
                        <a routerLink="/raw-cardboard" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                ballot
                            </i>
                            <span class="title">
                                Raw Cardboard
                            </span>
                        </a>

                        <a routerLink="/old-stock" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                ballot
                            </i>
                            <span class="title">
                                Old Stock
                            </span>
                        </a>



                        <span class="sub-title text-body">
                            SALARY APP
                        </span>
                        <a routerLink="/salary-tracker" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                ballot
                            </i>
                            <span class="title">
                                Salary Tracker
                            </span>
                        </a>

                        <span class="sub-title text-body">
                            ROLLS SECTION
                        </span>

                        <a routerLink="/printing" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                print
                            </i>
                            <span class="title">
                                Printing
                            </span>
                        </a>
                        <a routerLink="/cutting-printed" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                content_cut
                            </i>
                            <span class="title">
                                Cutting Printed Roll
                            </span>
                        </a>
                        <a routerLink="/cutting-plain" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                content_cut
                            </i>
                            <span class="title">
                                Cutting Plain Roll
                            </span>
                        </a>
                        <a routerLink="/packing" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                package_2
                            </i>
                            <span class="title">
                                Packing
                            </span>
                        </a>
                        <a routerLink="/roll-dispatch" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                local_shipping
                            </i>
                            <span class="title">
                                Dispatch
                            </span>
                        </a>

                        <span class="sub-title text-body">
                            Z-FOLD SECTION
                        </span>

                        <a routerLink="/z-fold" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                document_scanner
                            </i>
                            <span class="title">
                                Z-Fold
                            </span>
                        </a>
                        <a routerLink="/z-fold-packing" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                package_2
                            </i>
                            <span class="title">
                                Packing
                            </span>
                        </a>
                        <a routerLink="/z-fold-dispatch" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                local_shipping
                            </i>
                            <span class="title">
                                Dispatch
                            </span>
                        </a>

                    </div>

                    <div *ngIf="isUser1">
                        <span class="sub-title text-body">
                            ROLLS SECTION
                        </span>

                        <a routerLink="/printing" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                print
                            </i>
                            <span class="title">
                                Printing
                            </span>
                        </a>
                        <a routerLink="/cutting-printed" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                content_cut
                            </i>
                            <span class="title">
                                Cutting Printed Roll
                            </span>
                        </a>
                        <a routerLink="/cutting-plain" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                content_cut
                            </i>
                            <span class="title">
                                Cutting Plain Roll
                            </span>
                        </a>
                        <a routerLink="/packing" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                package_2
                            </i>
                            <span class="title">
                                Packing
                            </span>
                        </a>
                        <a routerLink="/roll-dispatch" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                local_shipping
                            </i>
                            <span class="title">
                                Dispatch
                            </span>
                        </a>

                    </div>

                    <div *ngIf="isUser2">
                        <span class="sub-title text-body">
                            Z-FOLD SECTION
                        </span>

                        <a routerLink="/z-fold" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                document_scanner
                            </i>
                            <span class="title">
                                Z-Fold
                            </span>
                        </a>
                        <a routerLink="/z-fold-packing" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                package_2
                            </i>
                            <span class="title">
                                Packing
                            </span>
                        </a>
                        <a routerLink="/z-fold-dispatch" class="sidebar-menu-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                local_shipping
                            </i>
                            <span class="title">
                                Dispatch
                            </span>
                        </a>

                    </div>

                    <a (click)="onLogout()" routerLink="/authentication/logout" class="sidebar-menu-link"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            logout
                        </i>
                        <span class="title">Logout</span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
