<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Printed-Cutting
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <i class="ri-home-8-line"></i>
            Roll Section
        </li>
        <li class="breadcrumb-item position-relative">
            Printed-Cutting
        </li>
    </ol>
</div>

<!-- Printed-Cutting Entry -->
<mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Printed-Cutting Entry
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="printingForm" (ngSubmit)="submit()">
            <div class="row">

                <!-- Printing Size As Per Printing Roll DropDown -->
                <div class="col-sm-6" *ngIf="dropdown">
                    <mat-form-field>
                        <mat-label>ECG Roll Size</mat-label>
                        <input matInput [formControl]="ecgRollControl" (blur)="managePrintingSize()"
                            [matAutocomplete]="printingAutoComplete">
                        <mat-autocomplete #printingAutoComplete="matAutocomplete">
                            <mat-option *ngFor="let option of printingSizeFilteredOptions | async"
                                [value]="option.label">
                                {{ option.label }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <!-- Ink Used -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Ink Used</mat-label>
                        <input matInput placeholder="Ex. 2 liters" formControlName="inkUsed">
                    </mat-form-field>
                </div>

                <!-- Core Per Roll -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Core Per Roll 1</mat-label>
                        <input matInput placeholder="Ex. 1" type="number" formControlName="corePerRoll1"
                            (input)="calculateTotal()">
                    </mat-form-field>
                </div>

                <!-- Core Size -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Core Size 1</mat-label>
                        <input matInput [formControl]="coreSizeCtrl1" [matAutocomplete]="coreSizeAutocomplete1">
                        <mat-autocomplete #coreSizeAutocomplete1="matAutocomplete">
                            <mat-option *ngFor="let option of coreSizeFilteredOptions | async" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>


                <!-- Core Per Roll -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Core Per Roll 2</mat-label>
                        <input matInput placeholder="Ex. 1" type="number" formControlName="corePerRoll2"
                            (input)="calculateTotal()">
                    </mat-form-field>
                </div>

                <!-- Core Size -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Core Size 2</mat-label>
                        <input matInput [formControl]="coreSizeCtrl2" [matAutocomplete]="coreSizeAutocomplete2">
                        <mat-autocomplete #coreSizeAutocomplete2="matAutocomplete">
                            <mat-option *ngFor="let option of coreSizeFilteredOptions2 | async" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>


                <!-- Core Per Roll -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Core Per Roll 3</mat-label>
                        <input matInput placeholder="Ex. 1" type="number" formControlName="corePerRoll3"
                            (input)="calculateTotal()">
                    </mat-form-field>
                </div>

                <!-- Core Size -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Core Size 3</mat-label>
                        <input matInput [formControl]="coreSizeCtrl3" [matAutocomplete]="coreSizeAutocomplete3">
                        <mat-autocomplete #coreSizeAutocomplete3="matAutocomplete">
                            <mat-option *ngFor="let option of coreSizeFilteredOptions3 | async" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <!-- Total Roll -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Actual Roll</mat-label>
                        <input matInput placeholder="Ex. 1" formControlName="totalRoll">
                    </mat-form-field>
                </div>

                <!-- Count For Roll -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Roll Made</mat-label>
                        <input matInput type="number" placeholder="Ex. 10" formControlName="countForRoll">
                    </mat-form-field>
                </div>

                <!-- Date of Entry (auto-select today but also selectable) -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Cutting Date Of Entry</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="cuttingDateOfEntry"
                            placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- Submit Button -->
                <div class="col-sm-12">
                    <button mat-button type="submit">
                        <span *ngIf="!isEdit">Submit</span>
                        <span *ngIf="isEdit">Update</span>
                    </button>
                </div>
            </div>
        </form>

    </mat-card-content>
</mat-card>

<!-- Printed-Cutting -->
<mat-card class="daxa-card to-do-list-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="false">
    <mat-card-header>
        <mat-card-title>
            <div class="download-excel-btn" (click)="downloadExcel()">
                <span class="material-symbols-outlined">
                    download
                </span>
                Download Excel
            </div>
        </mat-card-title>
        <mat-card-subtitle>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search here..."
                    (keyup)="applyFilter($event)" #input>
            </form>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="printingSizeAsPerPrintingRoll">
                        <th mat-header-cell *matHeaderCellDef> ECG Roll Size </th>
                        <td mat-cell *matCellDef="let element"> {{element.printingSizeAsPerPrintingRoll}} </td>
                    </ng-container>

                    <ng-container matColumnDef="inkUsed">
                        <th mat-header-cell *matHeaderCellDef> Ink Used </th>
                        <td mat-cell *matCellDef="let element"> {{element.inkUsed}} </td>
                    </ng-container>

                    <ng-container matColumnDef="countForRoll">
                        <th mat-header-cell *matHeaderCellDef> Actual Roll </th>
                        <td mat-cell *matCellDef="let element"> {{element.countForRoll}} </td>
                    </ng-container>

                    <ng-container matColumnDef="totalRoll">
                        <th mat-header-cell *matHeaderCellDef> Roll Made </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalRoll}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cuttingDateOfEntry">
                        <th mat-header-cell *matHeaderCellDef>Entry Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.cuttingDateOfEntry | date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <button type="button" mat-button matTooltip="Edit" matTooltipPosition="above"
                                    (click)="editData(element)">
                                    <i class="material-symbols-outlined">
                                        edit
                                    </i>
                                </button>
                                <button type="button" mat-button matTooltip="Delete" matTooltipPosition="above"
                                    (click)="deleteData(element._id)">
                                    <i class="material-symbols-outlined">
                                        delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>

                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>