<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Roll-Roll-Dispatch
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <i class="ri-home-8-line"></i>
            Admin App
        </li>
        <li class="breadcrumb-item position-relative">
            Roll-Dispatch
        </li>
    </ol>
</div>

<!-- Roll-Dispatch Entry -->
<mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Roll-Dispatch Entry
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="rollDispatchForm" (ngSubmit)="submit()">
            <div class="row">

                <!-- No. Of Packs -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Total Box Dispatch</mat-label>
                        <input matInput type="number" placeholder="Ex. 6000" formControlName="totalBoxDispatch">
                    </mat-form-field>
                </div>

                <!-- Roll Size -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Roll Size With Lable</mat-label>
                        <input matInput placeholder="Ex. 50" formControlName="rollSizeWithLabel">
                        <!-- <input matInput placeholder="Ex. lable name" formControlName="rollSize"> -->
                    </mat-form-field>
                </div>

                <!-- No. Of Rolls -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Total Rolls</mat-label>
                        <input matInput type="number" placeholder="Ex. 6000" formControlName="totalRolls">
                    </mat-form-field>
                </div>

                <!-- Roll-Dispatch Date/Time -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Roll-Dispatch Date/Time</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="DateAndTime"
                            placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- Order by Selection -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Order by</mat-label>
                        <mat-select formControlName="orderBy">
                            <mat-option value="Ukshit">Ukshit</mat-option>
                            <mat-option value="Animesh">Animesh</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Bill or WithoutBill -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Bill or WithoutBill</mat-label>
                        <mat-select formControlName="bill">
                            <mat-option value="Bill">Bill</mat-option>
                            <mat-option value="WithoutBill">Without Bill</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Bill Number -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Bill Number</mat-label>
                        <input matInput type="number" placeholder="Ex. 6000" formControlName="billNumber">
                    </mat-form-field>
                </div>

                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Dispatch Via</mat-label>
                        <input matInput type="text" placeholder="Ex. Courier" formControlName="dispatchVia">
                    </mat-form-field>
                </div>

                <!-- Submit Button -->
                <div class="col-sm-12">
                    <button mat-button class="btn" type="submit">
                        <span *ngIf="!isEdit">Submit</span>
                        <span *ngIf="isEdit">Update</span>
                    </button>
                </div>
            </div>
        </form>

    </mat-card-content>
</mat-card>

<!-- Roll-Dispatch -->
<mat-card class="daxa-card to-do-list-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="false">
    <mat-card-header>
        <mat-card-title>
            <div class="download-excel-btn" (click)="downloadExcel()">
                <span class="material-symbols-outlined">
                    download
                </span>
                Download Excel
            </div>
        </mat-card-title>
        <mat-card-subtitle>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search here..."
                    (keyup)="applyFilter($event)" #input>
            </form>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="totalBoxDispatch">
                        <th mat-header-cell *matHeaderCellDef> Total Box Dispatch </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalBoxDispatch}} </td>
                    </ng-container>

                    <ng-container matColumnDef="rollSizeWithLabel">
                        <th mat-header-cell *matHeaderCellDef> Roll Size With Label </th>
                        <td mat-cell *matCellDef="let element"> {{element.rollSizeWithLabel}} </td>
                    </ng-container>

                    <ng-container matColumnDef="orderBy">
                        <th mat-header-cell *matHeaderCellDef> Order By </th>
                        <td mat-cell *matCellDef="let element"> {{element.orderBy}} </td>
                    </ng-container>

                    <ng-container matColumnDef="DateAndTime">
                        <th mat-header-cell *matHeaderCellDef>Entry Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.DateAndTime | date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dispatchVia">
                        <th mat-header-cell *matHeaderCellDef>Dispatch Via</th>
                        <td mat-cell *matCellDef="let element"> {{element.dispatchVia}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <button type="button" mat-button matTooltip="Edit" matTooltipPosition="above"
                                    (click)="editData(element)">
                                    <i class="material-symbols-outlined">
                                        edit
                                    </i>
                                </button>
                                <button type="button" mat-button matTooltip="Delete" matTooltipPosition="above"
                                    (click)="deleteData(element._id)">
                                    <i class="material-symbols-outlined">
                                        delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>

                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>