<mat-card class="daxa-card stats-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-content>
        <div class="row">
            <div class="col-md-2 ">

                <!-- New Users -->
                <app-total-raw-paper />

            </div>
            <div class="col-md-2 ">

                <!-- New Users -->
                <app-total-raw-core />

            </div>
            <div class="col-md-2 ">

                <!-- New Users -->
                <app-total-raw-ink />

            </div>
            <div class="col-md-2 ">

                <!-- Active Users -->
                <app-total-raw-label />

            </div>
            <div class="col-md-2 ">

                <!-- Revenue Growth -->
                <app-total-raw-box />

            </div>
            <div class="col-md-2 ">

                <!-- Lead Conversation -->
                <app-total-raw-cardboard />

            </div>
        </div>
    </mat-card-content>
</mat-card>