<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Printing
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">

        <li class="breadcrumb-item position-relative">
            <i class="ri-home-8-line"></i>
            Roll Section
        </li>
        <li class="breadcrumb-item position-relative">
            Printing
        </li>
    </ol>
</div>

<!-- Printing Entry -->
<mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Printing Entry
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="printingForm">
            <div class="row">

                <!-- Printing Size Per Jumbo Roll FORMATE( 900X55000 - 56 count )-->
                <div class="col-sm-4" *ngIf="rollDropdown && !isEdit">
                    <mat-form-field class="mb-25">
                        <mat-label>Printing Size Per Jumbo Roll</mat-label>
                        <mat-select formControlName="printingSizePerJumboRoll">
                            <mat-option *ngFor="let item of rollDropdown" [value]="item.value">{{ item.label
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-4" *ngIf="isEdit">
                    <mat-form-field class="mb-25">
                        <mat-label>Printing Size Per Jumbo Roll</mat-label>
                        <input matInput formControlName="printingSizePerJumboRoll" [disabled]="true">
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field>
                        <mat-label>Printing Size (Manual)</mat-label>
                        <input matInput [formControl]="printingSizeControl" (change)="managePrintingSize()"
                            [matAutocomplete]="printingAutoComplete">
                        <mat-autocomplete #printingAutoComplete="matAutocomplete">
                            <mat-option *ngFor="let option of printingSizeFilteredOptions | async"
                                [value]="option.label">
                                {{ option.label }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <!-- Printing Size DropDown-->
                <div class="col-sm-4" *ngIf="dropdown">
                    <mat-form-field>
                        <mat-label>{{ dropdown.category }}</mat-label>
                        <mat-select formControlName="printingSize">
                            <mat-option *ngFor="let item of dropdown.options" [value]="item.value">{{ item.label
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field>
                        <mat-label>Ink Color (Manual)</mat-label>
                        <input matInput formControlName="inkColorManual" (change)="manageInkColor()">
                    </mat-form-field>
                </div>

                <!-- Ink Color -->
                <div class="col-sm-4" *ngIf="dropdown2">
                    <!-- <mat-form-field class="mb-25">
                        <mat-label>Ink Color</mat-label>
                        <input matInput placeholder="Ex. 2 liters" formControlName="inkColor">
                    </mat-form-field> -->
                    <mat-form-field>
                        <mat-label>{{ dropdown2.category }}</mat-label>
                        <mat-select formControlName="inkColor">
                            <mat-option *ngFor="let item of dropdown2.options" [value]="item.value">{{ item.label
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Ink Used -->
                <div class="col-sm-4">
                    <mat-form-field class="mb-25">
                        <mat-label>Ink Used</mat-label>
                        <input matInput placeholder="Ex. 2 liters" formControlName="inkUsed">
                    </mat-form-field>
                </div>

                <!-- Date of Entry (auto-select today but also selectable) -->
                <div class="col-sm-6">
                    <mat-form-field class="mb-25">
                        <mat-label>Date of Entry</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateOfEntry"
                            placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- Submit Button -->
                <div class="col-sm-12">
                    <button mat-button *ngIf="!isEdit" (click)="submit()">
                        Submit
                    </button>

                    <button mat-button *ngIf="isEdit" (click)="submit()">
                        Update
                    </button>
                </div>
            </div>
        </form>

    </mat-card-content>
</mat-card>

<!-- Printing -->
<mat-card class="daxa-card to-do-list-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="false">
    <mat-card-header>
        <mat-card-title>
            <div class="download-excel-btn" (click)="downloadExcel()">
                <span class="material-symbols-outlined">
                    download
                </span>
                Download Excel
            </div>
        </mat-card-title>
        <mat-card-subtitle>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search here..."
                    (keyup)="applyFilter($event)" #input>
            </form>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="printingSizePerJumboRoll">
                        <th mat-header-cell *matHeaderCellDef> Printing Size Per Jumbo Roll </th>
                        <td mat-cell *matCellDef="let element"> {{element.printingSizePerJumboRoll}} </td>
                    </ng-container>

                    <ng-container matColumnDef="printingSize">
                        <th mat-header-cell *matHeaderCellDef> Printing Size </th>
                        <td mat-cell *matCellDef="let element"> {{element.printingSize}} </td>
                    </ng-container>

                    <ng-container matColumnDef="inkColor">
                        <th mat-header-cell *matHeaderCellDef> Ink Color </th>
                        <td mat-cell *matCellDef="let element"> {{element.inkColor}} </td>
                    </ng-container>

                    <ng-container matColumnDef="inkUsed">
                        <th mat-header-cell *matHeaderCellDef> Ink Used </th>
                        <td mat-cell *matCellDef="let element"> {{element.inkUsed}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dateOfEntry">
                        <th mat-header-cell *matHeaderCellDef>Entry Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.dateOfEntry | date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <button type="button" mat-button matTooltip="Edit" matTooltipPosition="above"
                                    (click)="editData(element)">
                                    <i class="material-symbols-outlined">
                                        edit
                                    </i>
                                </button>
                                <button type="button" mat-button matTooltip="Delete" matTooltipPosition="above"
                                    (click)="deleteData(element._id)">
                                    <i class="material-symbols-outlined">
                                        delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>

                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>